:root {
    --sidebar-bg: #1e293b;
    --text-color: #334155;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f8fafc;
    color: var(--text-color);
}

/* Sidebar Estilo Pro */
.sidebar {
    min-width: 250px;
    height: 100vh;
    background-color: var(--sidebar-bg);
    color: white;
}

.sidebar-heading {
    padding: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    border-bottom: 1px solid #334155;
}

.list-group-item {
    background: transparent;
    color: #94a3b8;
    border: none;
    padding: 1rem 1.5rem;
    transition: 0.3s;
}

    .list-group-item:hover {
        background: #334155;
        color: white;
    }

/* Contenido */
#page-content-wrapper {
    background-color: #f8fafc;
}

/* Estilo para las tablas (Tus datos se verán mucho mejor) */
table {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    border-collapse: separate;
    border-spacing: 0;
}

th {
    background-color: #f1f5f9;
    padding: 1rem !important;
    text-transform: uppercase;
    font-size: 0.75rem;
    color: #64748b;
}

td {
    padding: 1rem !important;
    border-top: 1px solid #e2e8f0;
}
